{% extends 'ErazrSiteBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Ajouter un post{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-md-12">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}