{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "ErazrSiteBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block erazr_site_body %}

  <h2>Hello {{ name }}!</h2>

{% endblock %}