{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "ErazrSiteBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}

{% block content %}
	<div class="col-md-12">
		Yo
	</div>
{% endblock %}