<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% block title %}Erazr{% endblock %}</title>

		{% block stylesheets %}
			{# On charge le CSS de bootstrap depuis le site directement #}
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		{% endblock %}
	</head>

	<body>
		<div class="container">		
	
					{% block body %}
					{% endblock %}
		</div>

			<hr>

			<footer>
				<p>Erazr • Made with <span class="icon-heart"></span> by Groin-groin team © {{ 'now'|date('Y') }} and beyond.</p>
			</footer>

		{% block javascripts %}

			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		{% endblock %}

	</body>
</html>

