aside {
	background:$clr-dark-asphalt;
	color:white;
	width:30rem;
	height:100%;
	float:left;
	position:relative;
	padding-bottom:4rem;
	a {
		color:white;
		text-decoration:none;
		&:hover,&:active,&:focus {
			outline:none;
			text-decoration:none;
			color:white;
		}
	}
	h3 {
		font-size:1.5rem;
		padding:0 2rem .5rem;
		margin:2rem 0 1rem;
		border-bottom:.1rem solid $clr-asphalt;
	}
	header {
		background:$clr-light-blue;
		h1 {
			margin:0;
			padding:0;
			a {
				display:block;
				height:10rem;
				padding:1rem;
				&:hover img {
					animation:bouiiiiing 1s;
				}
				img {
					display:block;
					height:100%;
					margin:0 auto;
				}
			}
		}
	}
	.sideTimer {
		padding:2rem;
		font-size:3.5rem;
		text-align:center;
	}
	.sideProfil {
		position:relative;
		background:$clr-asphalt;
		text-align:center;
		.logout {
			position:absolute;
			top:0;
			left:0;
			padding:1rem;
			font-size:2.5rem;
			display:block;
			&:hover span {
				display:inline-block;
				animation:shake .5s infinite;
			}
		}
		.params {
			position:absolute;
			top:0;
			right:0;
			padding:1rem;
			font-size:2.5rem;
			display:block;
			&:hover span {
				display:inline-block;
				animation:spin 5s infinite linear;
			}
		}
		.notif-alert {
			position:absolute;
			z-index:999;
			bottom:0;
			right:0;
			display:block;
			.notif-icon {
				cursor:default;
				span {
					font-size:3rem;
					display:block;
				}
				&.active {
					cursor:pointer;
					span {
						animation:bounce 1s infinite;
						color:$clr-warning;
					}
				}
			}
			ul {
				display:none;
				position:absolute;
				list-style:none;
				top:0;
				left:calc(100% + 1rem);
				white-space:nowrap;
				li {
					display:block;
					text-align:left;
					a {
						display:block;
						background:$clr-asphalt;
						padding:1rem;
						border-top:.1rem solid rgba(0,0,0,.1);
						border-bottom:.1rem solid rgba(255,255,255,.1);
						&:hover {
							background:$clr-light-asphalt;
						}
						span {
							margin-right:1rem;
							font-size:1.8rem;
						}
					}
					&:first-child {
						border-top-left-radius:.5rem;
						border-top-right-radius:.5rem;
						overflow:hidden;
						a {
							border-top:none;
						}
						&:hover:before {
							border-right-color:$clr-light-asphalt;
						}
						&:before {
							position:absolute;
							top:1rem;
							right:100%;
							border:solid transparent;
							content:" ";
							height:0;
							width:0;
							pointer-events:none;
							border-color:transparent;
							border-right-color:$clr-asphalt;
							border-width:1rem;
						}
					}
					&:last-child {
						border-bottom-left-radius:.5rem;
						border-bottom-right-radius:.5rem;
						overflow:hidden;
						a {
							border-bottom:none;
						}
					}
					&.notif-friend span {
						color:$clr-warning;
					}
					&.notif-comment span {
						color:$clr-light-blue;
					}
					&.notif-like span {
						color:$clr-error;
					}
				}
				.notif-friend {
					
				}
			}
		}
		.profil {
			display:block;
			padding:2rem;
		}
		img {
			height:10rem;
			width:10rem;
			display:inline-block;
		}
		h2 {
			font-weight:normal;
			font-size:2rem;
		}
	}
	.sideFriends,.sideSearch {
		ul {
			list-style:none;
			li {
				position:relative;
				display:block;
				a {
					display:inline-block;
					width:26rem;
					font-size:1.5rem;
					padding:1rem 2rem;
					&:last-child {
						display:inline-block;
						width:4rem;
						line-height:2.9rem;
						text-align:center;
						padding-left:0;
						padding-right:0;
					}
					&:hover {
						background:$clr-asphalt;
					}
					img {
						display:inline-block;
						height:3rem;
						width:3rem;
						margin-right:1rem;
					}
				}
			}
		}
	}
	.searchFriends {
		margin-bottom:1rem;
	}
	form[name="searchFriend"] {
		margin-top:1rem;
	}
	#btn-more-search {
		display:none;
	}
	footer {
		position:absolute;
		bottom:.5rem;
		left:0;
		right:0;
		font-size:1.1rem;
		text-align:center;
		.icon-heart {
			animation:love 3s infinite linear;
		}
	}
}