.form-control {
	font-family:"Roboto",sans-serif;
	box-shadow:none;
	border-radius:.5rem;
	border:.1rem solid #e5e5e5;
	&:hover,&:focus,&:active {
		box-shadow:none;
		border-color:darken(#e5e5e5,20%);
	}
}

.input-group {
	border:.1rem solid #e5e5e5;
	background:white;
	@extend .form-control;
	&:hover,&:focus,&:active {
		border-color:darken(#e5e5e5,20%);
	}
	.input-group-addon {
		background-color:white;
		padding-left:.3rem;
		padding-right:.5rem;
		font-size:2rem;
		cursor:text;
		border:none;
		label {
			margin:0;
			font-weight:normal;
			cursor:inherit;
		}
	}
	.form-control {
		border:none;
		padding-left:0;
	}
	&.square {
		border-radius:0;
	}
}

.form-control {
	margin-bottom:2rem;
}

input[type="checkbox"]{
	@extend .form-control;
	& + label {
		cursor:pointer;
	}
}

textarea.form-control {
	resize:none;
	height:3.4rem;
}

.checkbox, .radio {
	display:inline-block;
	margin-left:2rem;
}