html {
	font-size:62.5%;
}

body {
	font-family:'Roboto',sans-serif;
	background:#F2F2F2;
}

.lol {
	position:fixed;z-index:9999;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(0,0,0,.6);
	img {
		position:absolute;
		top:50%;
		left:50%;
		border-radius:1rem;
		border:.5rem solid $clr-light-blue;
		&.no-border {
			border:0;
			border-radius:0;
		}
	}
}

#floated {
	position:fixed;
	z-index:999;
	height:4.1rem;
	bottom:1rem;
	left:50%;
	background-image:url(/bundles/erazrsite/img/konami.png);
}

.easterEgg {
	position:fixed;
	left:0;
	right:0;
	bottom:0;
	height:5.8rem;
	overflow:hidden;
	&.egg-1 {
		transform:rotate(180deg);
		bottom:auto;
		top:0;
	}
	img {
		position:absolute;
		bottom:0;
		left:100%;
	}
}

#erazr {
	float:left;
	width:calc(100% - 30rem);
	width:-webkit-calc(100% - 30rem);
	width:-moz-calc(100% - 30rem);
}

main {
	display:block;
}

ul {
	margin:0;
	padding:0;
}

.btn {
	border-radius:.5rem;
	&.btn-square {
		border-radius:0;
	}
	&.btn-success {
		color:white;
		background:$clr-success;
		&:hover {
			background:lighten($clr-success,5%);
		}
	}
	&.btn-error {
		color:white;
		background:$clr-error;
		&:hover {
			background:lighten($clr-error,5%);
		}
	}
	&.btn-light-blue {
		color:white;
		background:$clr-light-blue;
		&:hover {
			background:lighten($clr-light-blue,5%);
		}
	}
	&.btn-asphalt {
		color:white;
		background:$clr-asphalt;
		&:hover {
			background:lighten($clr-asphalt,5%);
		}
	}
	&.btn-light-asphalt {
		color:white;
		background:$clr-light-asphalt;
		&:hover {
			background:lighten($clr-light-asphalt,5%);
		}
	}
	&.btn-dark-asphalt {
		color:white;
		background:$clr-dark-asphalt;
		&:hover {
			background:darken($clr-dark-asphalt,5%);
		}
	}
	&.btn-facebook {
		color:white;
		background:$clr-facebook;
		&:hover {
			background:darken($clr-facebook,5%);
		}
	}
	&.btn-post {
		color:white;
		background:rgba(0,0,0,.5);
		&:hover {
			background:rgba(0,0,0,.6);
		}
	}
	&.btn-large {
		display:block;
		width:100%;
	}
}

.text-white {
	color:white;
}

.text-asphalt {
	color:$clr-asphalt;
}

.text-dark-asphalt {
	color:$clr-dark-asphalt;
}

.text-light-asphalt {
	color:$clr-light-asphalt;
}

.text-light-blue {
	color:$clr-light-blue;
}

.tooltip {
	white-space:nowrap;
}

a {
	&:hover,&:active,&:focus {
		text-decoration:none;
		outline:none;
	}
}

.column-row {
	column-width:40rem;
	column-gap:2rem;
}

.column-item {
	display:inline-block;
	width:100%;
}

.column-well {
	position:relative;
	display:block;
}