@keyframes shake {
	10%, 30%, 50%, 70%, 90% {transform:scale(1) rotate(3deg);}
	0%, 20%, 40%, 60%, 80% {transform:scale(1) rotate(-3deg);}
	100% {transform:scale(1) rotate(0);}
}

@keyframes bounce {
	20%, 80% {transform:translate(0, 0)}
	50% {transform:translate(0, -.5rem)}
}

@keyframes spin {
	0% {transform:rotate(0);}
	100% {transform:rotate(-359deg);}
}

@keyframes reverse_spin {
	0% {transform:rotate(0);}
	100% {transform:rotate(359deg);}
}

@keyframes love {
	0%,20%,80%,100% {color:white}
	50% {color:#e25353;}
}

@keyframes bouiiiiing {
	0% {transform:scale(1);}
	10%,20% {transform:scale(0.8) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform:scale(1) rotate(3deg);}
	40%, 60%, 80% {transform:scale(1) rotate(-3deg);}
	100% {transform:scale(1) rotate(0);}
}