article.post {
	border-radius:.5rem;
	margin:2rem 0;
	padding:2rem;
	background:#ccc;
	position:relative;
	&.post-blue {
		background:#86dbff;
	}
	&.post-orange {
		background:#fecc74;
	}
	&.post-green {
		background:#88d686;
	}
	&:before {
		content:"";
		position:absolute;
		top:0;
		right:0;
		border-color:transparent #F2F2F2 rgba(0,0,0,.1) transparent;
		border-style:solid;
		border-width:0 5rem 5rem 0;
		height:0;
		width:0;
		display:block;
	}
	header {
		img {
			display:block;
			margin-right:1rem;
			float:left;
			height:5rem;
			width:5rem;
		}
		& > a {
			display:block;
			.profil {
				float:left;
				h2 {
					font-size:1.8rem;
					color:#4c4c4c;
					margin:0;
				}
				h3 {
					font-size:1.2rem;
					color:#777;
					font-weight:100;
					margin:.5rem 0 0;
				}
			}
		}
		.timer {
			float:right;
			margin-right:5rem;
			color:#4c4c4c;
			font-size:2.1rem;
		}
	}
	.content {
		padding:2rem 0;
		p {

		}
	}
	footer {
		& > div > div:last-child {
			.comments {
				cursor:default;
			}
			.comments, .likes {
				display:inline-block;
				margin:.3rem 0 0 2rem;
				color:#777;
				font-size:1.5rem;
				span {
					color:rgba(0,0,0,.5);
				}
			}
		}
	}
}

article.comment {
	padding:2rem;
	header {
		float:left;
		margin-right:1rem;
		a {
			display:block;
			height:5rem;
			width:5rem;
			overflow:hidden;
			img {
				display:block;
				width:100%;
				height:100%;
			}
		}
	}
	.content-wrap {
		float:left;
		.user {
			font-weight:bold;
		}
		.content {

		}
		footer {
			margin-top:.2rem;
			color:#777;
			font-size:1.2rem;
		}
	}
}