.profil .user {
	padding:2rem 0 0;
	img {
		float:left;
		margin-right:2rem;
	}
	.infos {
		float:left;
		h2 {
			margin:1.5rem 0 0;
			a {
				margin-left:2rem;
			}
		}
		h3 {
			margin:0 0 1rem;
			font-size:1.5rem;
		}
		p {
			margin:0;
			color:#777;
			font-size:1.2rem;
		}
	}
}

.friends {
	h2 {
		margin-top:0;
	}
	ul {
		list-style:none;
		li {
			display:inline-block;
			margin-right:1rem;
			&:last-child {
				margin-right:0;
			}
			a {
				display:block;
				overflow:hidden;
				height:5rem;
				width:5rem;
				img {
					display:block;
					height:100%;
					width:100%;
				}
			}
		}
	}
}

.posts h2 {
	margin-bottom:-1rem;
}

.img-profil {
	border-radius:50%;
	border:1px solid rgba(0,0,0,.1);
}