.searchResults {
	.user {
		a {
			padding:2rem;
			display:block;
			&:hover {
				background:rgba(0,0,0,.05);
			}
			img {
				height:10rem;
				width:10rem;
				float:left;
				margin-right:2rem;
			}
			.infos {
				float:left;
				h2 {
					margin:1rem 0 0;
				}
				h3 {
					margin:0 0 1rem;
					font-size:1.5rem;
				}
				p {
					margin:0;
					color:#777;
					font-size:1.2rem;
				}
			}
		}
	}
}