.searchResults {
	list-style:none;
	li {
		a {
			padding:2rem;
			display:block;
			img {
				float:left;
				border-radius:50%;
				border:1px solid rgba(0,0,0,.3);
				margin-right:2rem;
			}
			.infos {
				float:left;
				h2 {
					margin:1.5rem 0 0;
				}
				h3 {
					margin:0 0 1rem;
					font-size:1.5rem;
				}
				p {
					margin:0;
					color:#777;
					font-size:1.2rem;
				}
			}
		}
		&:nth-child(odd){
			background:rgba(0,0,0,.05);
		}
	}
}