aside {
	background:$clr-dark-asphalt;
	color:white;
	width:300px;
	height:100%;
	float:left;
	position:relative;
	padding-bottom:40px;
	a {
		color:white;
		text-decoration:none;
		&:hover,&:active,&:focus {
			outline:none;
			text-decoration:none;
			color:white;
		}
	}
	h3 {
		font-size:1.5rem;
		padding:0 2rem .5rem;
		margin:2rem 0 1rem;
		border-bottom:.1rem solid $clr-asphalt;
	}
	header {
		background:$clr-light-blue;
		h1 {
			margin:0;
			padding:0;
			a {
				display:block;
				height:10rem;
				padding:1rem;
				&:hover img {
					animation:bouiiiiing 1s;
				}
				img {
					display:block;
					height:100%;
					margin:0 auto;
				}
			}
		}
	}
	.sideTimer {
		padding:2rem;
		font-size:3.5rem;
		text-align:center;
	}
	.sideProfil {
		position:relative;
		background:$clr-asphalt;
		text-align:center;
		.params {
			position:absolute;
			top:0;
			right:0;
			padding:1rem;
			font-size:2.5rem;
			display:block;
			&:hover span {
				display:inline-block;
				animation:spin 5s infinite linear;
			}
		}
		.profil {
			display:block;
			padding:2rem;
		}
		img {
			height:10rem;
			width:10rem;
			display:inline-block;
			border-radius:50%;
		}
		h2 {
			font-weight:normal;
			font-size:2rem;
		}
	}
	nav {
		ul {
			list-style:none;
			li {
				display:block;
				margin-top:.1rem;
				a {
					display:block;
					padding:1.5rem 2rem 1rem;
					font-size:1.5rem;
					&:hover {
						background:$clr-asphalt;
					}
					&.actif {
						background:$clr-light-asphalt;
					}
					span:first-child {
						display:inline-block;
						font-size:2rem;
						margin-right:1rem;
					}
					.badge {
						display:inline-block;
						background:$clr-light-blue;
						border-radius:50%;
						height:2.5rem;
						width:2.5rem;
						text-align:center;
						line-height:2rem;
						margin-left:1.5rem;
						font-size:1.5rem;
						font-weight:normal;
					}
				}
			}
		}
	}
	.sideFriends {
		ul {
			list-style:none;
			li {
				display:block;
				a {
					display:block;
					font-size:1.5rem;
					padding:1rem 2rem;
					&:hover {
						background:$clr-asphalt;
					}
					img {
						display:inline-block;
						height:3rem;
						width:3rem;
						border-radius:50%;
						margin-right:1rem;
					}
				}
			}
		}
	}
	form[name="searchFriend"] {
		padding:0 2rem;
	}
	footer {
		position:absolute;
		bottom:.5rem;
		left:0;
		right:0;
		font-size:1.1rem;
		text-align:center;
		.icon-heart {
			animation:love 3s infinite linear;
		}
	}
}