html {
	font-size:62.5%;
}
body {
	font-family:'Roboto',sans-serif;
}
#erazr {
	float:left;
	width:calc(100% - 30rem);
	width:-webkit-calc(100% - 30rem);
	width:-moz-calc(100% - 30rem);
}
main {
	display:block;
}
ul {
	margin:0;
	padding:0;
}

.btn {
	border-radius:0;
	&.btn-light-blue {
		color:white;
		background:$clr-light-blue;
		&:hover {
			background:lighten($clr-light-blue,5%);
		}
	}
	&.btn-large {
		display:block;
		width:100%;
	}
}

.text-white {
	color:white;
}

.text-asphalt {
	color:$clr-asphalt;
}

.text-light-blue {
	color:$clr-light-blue;
}