html {
	font-size:62.5%;
}
body {
	font-family:'Roboto',sans-serif;
}
#erazr {
	float:left;
	width:calc(100% - 30rem);
	width:-webkit-calc(100% - 30rem);
	width:-moz-calc(100% - 30rem);
}
main {
	display:block;
}
ul {
	margin:0;
	padding:0;
}