#login {
	background:#f2f2f2;
	header {
		background:$clr-light-blue;
		padding:2rem 4rem;
		img {
			display:block;
			margin:0 auto;
			cursor:pointer;
			max-height:15rem;
			&:hover {
				animation:bouiiiiing 1s;
			}
		}
	}
	section {
		padding:40px;
		&.connexion {
			background:$clr-asphalt;
		}
		&.inscription {
		}
		h1 {
			margin:0 0 2rem;
		}
	}
	.btn-facebook {
		display:inline-block;
		margin-bottom:2rem;
	}
}