article.post {
	margin:20px 0;
	padding:20px;
	background:#ccc;
	position:relative;
	&.post-blue {
		background:#86dbff;
	}
	&:before {
		content:"";
		position:absolute;
		top:0;
		right:0;
		border-color:transparent white rgba(0,0,0,.1) transparent;
		border-style:solid;
		border-width:0 50px 50px 0;
		height:0;
		width:0;
		display:block;
	}
	header {
		img {
			display:block;
			margin-right:10px;
			float:left;
			height:50px;
			width:50px;
			border:1px solid rgba(0,0,0,.5);
			border-radius:50%;
			border-top-left-radius:0;
		}
		& > a {
			display:block;
			.profil {
				float:left;
				h2 {
					font-size:18px;
					color:#4c4c4c;
					margin:0;
				}
				h3 {
					font-size:12px;
					color:#777;
					font-weight:100;
					margin:5px 0 0;
				}
			}
		}
		.timer {
			float:right;
			margin-right:50px;
			color:#4c4c4c;
			font-size:21px;
		}
	}
	.content {
		padding:20px 0;
		p {

		}
	}
	footer {
		a {
			color:#777;
			margin-left:20px;
			font-size:15px;
			span {
				color:rgba(0,0,0,.5);
			}
		}
	}
}