$clr-light-blue:#42c5bf;
$clr-dark-asphalt:#22313f;
$clr-asphalt:#304559;
$clr-light-asphalt:#3e5973;
$clr-facebook:#47639E;

@import 'fonts';
@import 'general';
@import 'form';
@import 'profile';
@import 'aside';
@import 'login';
@import 'post';
@import 'keyframes';


/*
 *
 * UserBundle -> Ressources -> views -> layout.html.twig
 * Ne pas oublier de changer la ligne
 * {% if path(app.request.attributes.get('_route')) == "/app_dev.php/login" %}
 * en
 * {% if path(app.request.attributes.get('_route')) == "/login" %}
 *
*/