$clr-light-blue:#42c5bf;
$clr-dark-asphalt:#22313f;
$clr-asphalt:#304559;
$clr-light-asphalt:#3e5973;
$clr-facebook:#47639E;
$clr-success:#4B9F56;
$clr-error:#FF4E39;
$clr-warning:#FFB733;

@import '_fonts';
@import '_general';
@import '_form';
@import '_profile';
@import '_aside';
@import '_login';
@import '_post';
@import '_flash';
@import '_keyframes';


/*
 *
 * UserBundle -> Ressources -> views -> layout.html.twig
 * Ne pas oublier de changer la ligne
 * {% if path(app.request.attributes.get('_route')) == "/app_dev.php/login" %}
 * en
 * {% if path(app.request.attributes.get('_route')) == "/login" %}
 *
*/